**/bin/
**/obj/
**/.vs/
**/.user/
**/*.user
**/*.suo
**/*.userprefs
**/*.sln.docstates

**/node_modules/
**/.angular/
**/dist/
**/.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

**/.idea/
**/.vscode/
**/*.swp
**/*.placeholder

**/.docker/
**/.git/
**/.github/
**/.gitignore
**/.dockerignore
LICENSE
README.md
docker-compose*.yml

**/*.db
**/*.db-journal
**/*.sqlite
**/appsettings.Development.json
**/appsettings.Local.json